* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
    background-color: #c1ddd1;
    padding: 15px 20px;
    box-sizing: border-box;
}

h3 {
    box-shadow: none;
}

label {
    font-size: 25px;
    font-family: 'Signika'
}
.taskName {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taskName input {
    padding: .5rem;
    width: 50%;
    margin-bottom: 15px;
}

.taskName button {
    padding: .5rem;
    width: 50%;
}

.incorrect-input {
    color: crimson;
}

