.body-header-index {
    height: 8px;
    width: 10px;
    margin: 0;
    background: #333333;
}

.languages {
    padding: 14px 16px;
    display:flex;
    position: absolute;
    top: 0;
    left: 0;
}


